@model MvcCv.Models.Entity.Tbldeneyimler
@{
    ViewBag.Title = "ProjeDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Proje Güncelleme Sayfası</h4>
<form method="post">
    @Html.Label("Proje ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık")
    @Html.TextBoxFor(x => x.Altbaslik, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>

</form>



